modules = ["web", "nodejs-20", "nix"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["node", "--no-deprecation", "index.js"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
